<a href="https://colab.research.google.com/github/yiiiiiyuuuu/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=0
result=0
while i<=50:
  if i% 2 !=0:
    result+=i
  i+=1
print("0-50的奇數和結果是%d" % result)

0-50的奇數和結果是625

In [ ]:
i=0
result=0
while i<=50:
  if i% 2 ==0:
    result+=i
  i+=1
print("0-50的偶數和結果是%d" % result)

0-50的偶數和結果是650

In [ ]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [5]:
sum = 0
for i in range(1,101):
    if i % 3 == 0 or i % 7 ==0:
        sum += i
print("數值1～100中，所有是3或是7倍數的數之總和=" +str(sum))

數值1～100中，所有是3或是7倍數的數之總和=2208

In [7]:
p=1
counter=0
n =int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數3
3 的因數有 1 3
3 是質數

In [9]:
list1=[1,2,3,4,5]

In [10]:
list1

[1, 2, 3, 4, 5]

In [14]:
list2=["香蕉","蘋果","橘子"]

In [15]:
list2

['香蕉', '蘋果', '橘子']

In [20]:
list3=[1,"香蕉",True]

In [21]:
list3

[1, '香蕉', True]

In [22]:
print(list)

<class 'list'>

In [24]:
print(list1[1])

2

In [25]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [26]:
list4=["香蕉","蘋果","橘子"]

In [27]:
print(list4[1])

蘋果

In [28]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [29]:
print(list4[3])

IndexError: ignored

In [30]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [31]:
print(list5[1])

['mary', 'abcd']

In [32]:
print(list5[0])

[['tom', '1234']]

In [33]:
print(list5[1][1])

abcd

In [34]:
print(list5[0])

[['tom', '1234']]

In [35]:
print(list5[0][0])

['tom', '1234']

In [36]:
print(list5[0][0])

['tom', '1234']

In [37]:
print(list5[1][0])

mary

In [41]:
scores = [85, 79, 93]
print("國文成績: %d分" % scores[0])
print("數學成績: %d分" % scores[1])
print("英文成績: %d分" % scores[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [39]:
list6=[1,2,3,4,5]

In [40]:
print(list6[0])

1

In [49]:
(list6[0])=9

In [50]:
print(list6[0])

9

In [51]:
print(list6)

[9, 2, 3, 4, 5]

In [42]:
list7=["香蕉","蘋果","橘子"]

In [43]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [47]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [58]:
scores = [85, 79, 93]

In [53]:
print(len(scores))

3

In [57]:
scores = [85, 79, 93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [54]:
scores = ["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [55]:
name = ["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for i in range(len(name)):
  print(name[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony